<mat-toolbar>
  <a routerLink="">
    <img src="../assets/twaice.png" class="logo" alt="logo" />
  </a>
</mat-toolbar>

<div class="container-fluid ">
  <div class="row customcontainer">
    <div class="col-3">
      <mat-card>
        <mat-list role="list">
          <mat-list-item role="listitem">Navigation</mat-list-item>
          <mat-list-item role="listitem"><a routerLink="about">About</a></mat-list-item>
          <mat-list-item role="listitem"><a routerLink="chart">Chart</a></mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <div class="col-9">
      <mat-card>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
</div>
